name: test

on:
  push:
    branches:
      - sonarcloud

jobs:
  check-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Afficher les valeurs des variables d'environnement
        run: |
          echo "GITHUB_TOKEN: $GITHUB"
          echo "SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}"

      - name: Vérifier les valeurs des variables d'environnement
        run: |

          if [ -z "${{secrets.SONAR_TOKEN}}" ]; then
            echo "Erreur: La variable d'environnement SONAR_TOKEN n'est pas configurée."
            exit 1
          fi
          if [ -z "$GITHUB_TOKEN" ]; then
            echo "Erreur: La variable d'environnement GITHUB_TOKEN n'est pas configurée."
            exit 1
          fi

          echo "Les variables d'environnement sont correctement configurées."
