name: Secrets and Environment Variables

on:
  push:
    branches:
      - sonarcloud

jobs:
  top-secret:
    runs-on: ubuntu-latest
    env:
      MY_APP_ID: ${{ secrets.MYGITHUB_TOKEN }}

    steps:
      - name: Read a variable
        run: echo "My github token value is ${{ secrets.MYGITHUB_TOKEN }}"

      - name: Tell me a secret!
        run: echo "My existing secret is ${{ secrets.SONAR_TOKEN }}"
      
      - name: Unset secret
        run: echo "My unknown secret is ${{ secrets.DOES_NOT_EXIST }}"
      
      - name: Github stuff
        run: echo "My Github repo is called ${{ github.repository }}"
      
      - name: Read an env variable
        run: echo "My APP_ID value is ${{ env.APP_ID }} (also accessible as $MY_APP_ID)"
